{% extends 'base.html.twig' %}

{% block title %}Listado Productos Widitrade{% endblock %}

{% block body %}
<style>
    

</style>
<script type="text/javascript">
function toggle(obj, index) {
          var obj=document.getElementById(obj);
          var dinamicRow = "row-info-"+index;
          var dinamicLink = "link-" + index;
          var link=document.getElementById(dinamicLink);          
          var rowInfo=document.getElementsByClassName(dinamicRow);

          if (obj.style.display == "block")
          {
            obj.style.display = "none";
            link.innerHTML = "Mostrar más ";
            rowInfo[0].style.border = "0px";
          } else {
            obj.style.display = "block";
            link.innerHTML = "Mostrar menos ^";
            rowInfo[0].style.borderLeft = "1px solid #ccc";
            rowInfo[0].style.borderRight = "1px solid #ccc";
            rowInfo[0].style.borderBottom = "1px solid #ccc";
          }

}
</script>
<div class="example-wrapper">
<header>
    <h1>Las 10 Mejores Barras de Sonido en España</h1>
</header>
<main>
    <section>
        <table >
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Nuestra Puntuación</th>
                    <th>Caracteristicas Clave</th>
                    <th></th>
                </tr>
            </thead>
            <div></div>
            <tbody>
                {% for item in datas_json %}
                    <tr>
                        <td>
                        {% if loop.index == 1 %}
                            <h3 class="top-sales-1">#{{ loop.index }} MEJOR OPCION 2024</h3>
                        {% elseif loop.index == 3 %}
                            <h3 class="top-sales-3">#{{ loop.index }} MEJOR VALOR 2024</h3>
                        {% else %}
                            <span class="index">#{{ loop.index }}</span>
                        {% endif %}
                        
                        <img src="{{ item.Images.Primary.Large.URL }}" alt="{{ item.ItemInfo.Title.DisplayValue }}" height="{{ item.Images.Primary.Large.Height }}" Width="{{ item.Images.Primary.Large.Width }}"></td>
                        <td><span class="rating">8</span></td>
                        <td class="product-name">{{ item.ItemInfo.Title.DisplayValue|slice(0, 120) }}... 
                        <div class="brand">
                            <span>{{ item.ItemInfo.ByLineInfo.Brand.DisplayValue }}</span>
                        </div>
                        <div class="tag">
                            <span class="tag-text">{{ item.Offers.Listings[0].Price.Savings.Percentage }}% Descuento</span>
                        </div>
                        {% if item.Offers.Listings[0].DeliveryInfo.IsFreeShippingEligible == true %}
                            <div class="tag">
                                <span class="tag-text">Envío gratis</span>
                            </div>
                        {% endif %}
                        <div>
                            <a href="javascript: void(0);" onClick="toggle('more-info-{{ loop.index }}', {{ loop.index }})" id="link-{{ loop.index }}">Mostrar más<i class="fa-solid fa-caret-down"></i></a>
                        </div>
                        </td>
                        <td class="btn-logo"><a href="{{ item.DetailPageURL }}" target="_blank"><button class="btn-amazon">Comprar ahora ></button></a>
                        <div class="logo-amazon">
                            <img src="/images/Amazon_logo.svg.png" alt="Comprar en amazon" height="60%" Width="60%">
                        </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="4" class="row-info-{{ loop.index }}" style="border: 0px;">
                            <div id="more-info-{{ loop.index }}" style="display: none;"> 
                                <ul>
                                    {% for info in item.ItemInfo.Features.DisplayValues %}
                                    <li>{{ info }} 
                                    
                                    </li>
                                    {% endfor %}
                                    <div class="logo-amazon-list">
                                        <img src="/images/Amazon_logo.svg.png" alt="Comprar en amazon" >
                                        
                                    </div>
                                    <a href="{{ item.DetailPageURL }}" target="_blank"><button class="btn-amazon-list">Comprar ahora ></button></a>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section
</main>
</div>
{% endblock %}
